<form novalidate name="userForm">
    <div class="form-group has-feedback" validate-notify="validators.first_name">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" name="first_name" placeholder="First Name" ng-model="user.first_name" required >
    </div>
    <div class="form-group has-feedback" validate-notify="validators.last_name">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" name="last_name" placeholder="Last Name" ng-model="user.last_name" required >
    </div>
    <div class="form-group has-feedback" validate-notify="validators.email">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" placeholder="First Name" ng-model="user.email" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
    </div>
    <div class="form-group has-feedback" validate-notify="validators.country">
        <label for="country">Country</label>
        <select type="text" class="form-control" name="country" placeholder="Country" ng-model="user.country" pvp-country-picker="name"></select>
    </div>
    <button type="submit" class="btn btn-default" ng-click="save()" ng-disabled="userForm.$invalid">Save</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-default" ng-click="deleteUser()">Delete</button>
</form>